*{
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .background {
    background-image: url('background.jpg'); /* Caminho para sua imagem de fundo */
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro transparente */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  
  .success-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .success-box h1 {
    color: #4caf50;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .success-box p {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .success-box a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .success-box a:hover {
    background-color: #45a049;
  }
  